{% extends 'profile/profile.html.twig' %}
{% block edit %}

    <div class="white">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Услуга</th>
                <th scope="col">Цена</th>
                <th scope="col">Ред.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Передеть с подливой</td>
                <td>100</td>
                <td><img class="icon" src="/beautybyisk/public/img/edit.png"></td>
            </tr>
            <tr>
                <td>Золотой дождь</td>
                <td>500</td>
                <td><img class="icon" src="/beautybyisk/public/img/edit.png"></td>
            </tr>
            <tr>
                <td>Шоколадный камнепад</td>
                <td>500</td>
                <td><img class="icon" src="/beautybyisk/public/img/edit.png"></td>
            </tr>
            <tr>
                <td colspan="2">Добавить услугу</td>
                <td><img class="icon" src="/beautybyisk/public/img/plus.png"></td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}