{% extends 'admin.html.twig' %}

{% block title %}New Section{% endblock %}

{% block body %}
    <h1>Создание новой категории</h1>

    {{ include('section/_form.html.twig') }}

    <a href="{{ path('section_index') }}">Вернуться назад</a>
{% endblock %}
