{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
<ul>
    <li><a href="/beautybyisk/public/admin/category">Категории</a></li>
    <li><a href="/beautybyisk/public/admin/section">Подкатегории</a></li>
    <li><a href="/beautybyisk/public/admin/view">пользователи</a></li>
    <li><a href="/beautybyisk/public/admin/recall">Отзывы</a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>

</ul>
{% endblock %}
