{% extends 'profile/profile.html.twig' %}

{% block title %}Предупреждение!{% endblock %}

{% block edit %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Предупреждение!</h4>
        <p>Вы не можете отправлять больше одной заявки на один день!</p>
        <hr>
        <p class="mb-0"></p>
    </div>
{% endblock %}
